<p style="color: green"><%= notice %></p>

<h1>Блог с заметками</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Показать эту заметку", post %>
    </p>
  <% end %>
</div>

<%= link_to "Новая заметка", new_post_path %>
